body{
  text-align: center;
  background-color: #efd2fc;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  
}

.App{

  padding: 10rem;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(200, 131, 233, 0.1);
  background-color: #f6c7ff;
}

.container{
  background-color: rgb(255, 190, 235);
  padding: 10rem;
  border-radius: 10px;
  border: 1rem solid #f3bbfa;
  box-shadow: 0 0 50px rgba(200, 131, 233, 0.1);
}

h1, h2{
  margin-bottom: 2rem;
  color: purple
}

input{
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 15px;
  margin-right: 1rem;
  background-color: #f5ddff;
}

select{
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 15px;
  margin-right: 1rem;
  background-color: #f5ddff;
}

button{
  padding: 1rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  background-color: #7b3fe4;
  color: white;
  cursor: pointer;
}

.converter{
  font-size: 2rem;
  margin-bottom: 3rem;
}

.result{
  margin-top: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  padding: 4rem;
  border-radius: 5px;
  background-color:  #f6c7ff;
  color: purple;
  font-weight: bold;
  text-decoration: underline;
  box-shadow: 0 0 50px rgba(200, 131, 233, 0.1);
}
